async-timeout==4.0.2
attrs==21.4.0
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
Deprecated==1.2.13
flasgger==0.9.5
Flask==2.1.1
flask-marshmallow==0.14.0
google-api-core==2.7.1
google-auth==2.6.3
google-cloud-core==2.2.3
google-cloud-storage==2.2.1
google-cloud-vision==2.7.2
google-crc32c==1.3.0
google-resumable-media==2.3.2
googleapis-common-protos==1.56.0
grpcio==1.44.0
grpcio-status==1.44.0
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
jsonschema==4.4.0
-e git+https://github.com/loca-ai/loca-vision@99f4aa37bbae881677c286a41eeb4e4b4a1037db#egg=loca_vision&subdirectory=../../loca-vision
MarkupSafe==2.1.1
marshmallow==3.15.0
mistune==2.0.2
packaging==21.3
proto-plus==1.20.3
protobuf==3.20.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.8
pyrsistent==0.18.1
python-dotenv==0.20.0
python-slugify==6.1.1
PyYAML==6.0
redis==4.2.2
requests==2.27.1
rsa==4.8
six==1.16.0
text-unidecode==1.3
tqdm==4.64.0
urllib3==1.26.9
Werkzeug==2.1.1
wrapt==1.14.0
zipp==3.8.0
